
.heading
{
color:blue;
font-size:40px;
}

h1 {
display:black;
font-size:20px;
}

.description {
display:#008B8B;
font-size:10px;
background:HoneyDew;
width:20px;
｝

.image {
width:20px;
height:100px;
position:relative;
left:20px;
}

.chart{
width:100px;
height:100px;
color:yellow;
}

.circl{
stroke:green;
fill:white;
stroke-width:5;
}